/* purgecss start ignore */
@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Forum-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Forum-Regular"), local("Forum-Regular"),
    url("/font-files/Forum-Regular.woff") format("woff2");
}

.font-forum {
  font-family: "Forum-Regular";
}
.slick-next:before, .slick-prev:before {
  font-size: 57px;
    line-height: 1;
    opacity: 1;
}

/* purgecss end ignore */

@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/* 
.repeat-button-primary {
  @apply items-center justify-center px-4 py-2 border-b-2 border-repeat-primary shadow-sm text-base font-medium text-white bg-repeat-primary-light hover:bg-repeat;
} */
